
 /* logo */

.logo {
    width: 200px;
}
.logo:focus{
    opacity: 0.5;
    padding: 40px;
    outline: none;
       
}

/* header ( contenant les informations du photographe selectionné, son portrait et le bouton pour le contacter ) */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;


}
img.photographer-portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    order: 3;
}

div.info {
    order: 1;
}
.photographer-name {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    white-space: nowrap;
    margin: 0;
    
}
.photographer-city {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
   
}

.photographer-tagline {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    
}
/* (bouton de contact) */

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    
    
}

.contact_button:focus {
    background-color: white;
    color: #901C1C;
    border: 3px solid #901C1C;
    outline: none
}

/* bouton de tri  */

/* Style de base pour le bouton */
.filter-section {
    display: flex;
    align-items: center;
}

.filter-section_sort {
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
  }
  
  .dropdown-button {
    background-color: #8B2A23; 
    color: white; 
    padding: 10px 30px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 5px 5px;
   
   }
   .dropdown-button:hover {
    border-radius: 5px 5px 0px 0px;
   }

  .dropdown-button p {
    margin: 0;
  }
  
  .dropdown-button::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: translateY(-50%) rotate(45deg); /* Chevrons orienté vers le bas */
    transition: transform 0.3s ease;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8B2A23; 
    z-index: 1;
    width: 220px; 
    border-radius: 0px 0px 5px 5px;
    
  }

  .dropdown:hover .dropdown-button {
    border-radius: 5px 5px 0 0;
}
  
  .dropdown-content p {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    margin: 0;
   
   
  }
  
  #title-filter, #date-filter{
    cursor: pointer;
   
  }

  #date-filter {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
   
   
   
}


  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-button::after {
    transform: translateY(-50%) rotate(-135deg); 
  }

/* modal de contact  */

#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: relative;
    z-index: 2;
    margin: 5% auto;
    max-width: 600px;
    overflow: hidden;
   
}
.bground {
  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.bground-modalPhoto.open {
   width: 100%;
}
.photo_modal {
    width: 100%;
    position: relative;
    left: 80px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;

}
input:focus, textarea:focus {
    border: 6px solid #901C1C;
    outline: none
}

.close {
    width: 40px;
    height: 40px;
    
}
.close:focus {
    border: 2px solid #901C1C;
    outline: none;
    background-color: rgba(144, 28, 28, 0.5);
    padding: 15px;
}
.photographer-name-contact {
    font-size: 64px;
    font-weight: 300;
    margin: 0;
    align-self: flex-start;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.aera {
    width: 100%;
    height: 134px;
    border: none;
    border-radius: 5px;
}

/* affichage des medias sur la page */

.media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 90%;
    margin-top: 30px;
    margin-left: 150px;
}
.media-container {
    width: 420px;
}

img, video {
    display: block;
    width: 400px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
}

.img-video:focus {
    border: 6px solid #901C1C;
    outline: none; 
}


.media-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 0;
    font-size: 20px;
    color: #901C1C;
    font-weight: 400;
    width: 400px;
}
.media-likes {
    color: #901C1C;
    cursor: pointer;
}

/* encare prix et likes total en bas de la page  */

.likes-price {
    position: fixed; 
    bottom: 0; 
    left: 74%; 
    width: 100%;
    max-width: 380px;
    height: 90px; 
    background: #DB8876;
    color: white; 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.total-likes {
   color: black;
   font-size: 35px;
   
}
.price-day {
    color: black;
    font-size: 35px;
   
}

/* modal media  */



.bground-modalPhoto {
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background:white;
    display: none; 
    align-items: center;
    justify-content: center;
}

.bground-modalPhoto.open { 
    display: flex; 
}
.photo_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 90%;
    margin: auto;
}
.media-modal-img {
    width: 100%;
    height: auto;
    max-width: 55vw;
    max-height: 80vh;
    object-fit: cover;
    margin-right: 50px;
    margin-left: 50px;
}
.left, .right {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 100px 50px;
}
.left {
    transform: rotate(180deg);
}

.left:focus, .right:focus {
    border: 6px solid #901C1C;
    outline: none;
    background-color: rgba(144, 28, 28, 0.5);
}


.closeModalPhoto {
    position: absolute;
    top: 30px;
    right: 65px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.closeModalPhoto:focus {
    border: 2px solid #901C1C;
    outline: none;
    background-color: rgba(144, 28, 28, 0.5);
    padding: 15px;
}

.photo-title {
    color: #901C1C;
    height: 40px;
    position: relative;
    top: 480px;
    right: 1500px;
}

